<div id="<%= dom_id calendar_entry %>">
  <p>
    <strong>Owner:</strong>
    <%= calendar_entry.owner_id %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= calendar_entry.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= calendar_entry.description %>
  </p>

  <p>
    <strong>Schedulable:</strong>
    <%= calendar_entry.schedulable_id %>
  </p>

  <p>
    <strong>Start time:</strong>
    <%= calendar_entry.start_time %>
  </p>

  <p>
    <strong>End time:</strong>
    <%= calendar_entry.end_time %>
  </p>

  <p>
    <strong>Cancellation reason:</strong>
    <%= calendar_entry.cancellation_reason %>
  </p>

  <p>
    <strong>Cancelled:</strong>
    <%= calendar_entry.cancelled %>
  </p>

</div>
