<p style="color: green"><%= notice %></p>

<h1>Calendar Entries</h1>

<%= link_to 'Subscribe', subscribe_calendar_entries_url(protocol: :webcal, format: :ics) %>

<div vlcass="row">
	<div class="col">
		<table class="table table-bordered" id="calendar-entries">
				<% @grouped_calendar_entries.each do |name, entries| %>
					<thead>
						<tr>
							<th colspan='2'>
								<%= name %>
							</th>
						</tr>
					</thead>
					<colgroup>
						<col span="1" style="width: 30%;">
						<col span="1" style="width: 70%;">
					</colgroup>
					<tbody>
						<% entries.each do |entry| %>
							<tr>
								<td>
									<span class="text-center">
										<%= entry.start_time.strftime('%I:%M %p') %> to <%= entry.end_time.strftime('%I:%M %p') %>
									</span>
								</td>
								<td>
									<p>
									<%= entry.schedulable.title %>
									<span>(<%= entry.owner.name %>)</span>
									</p>
								</td>
							</tr>
					</tbody>
				<% end %>
			<% end %>
		</table>
	</div>
</div>
